@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    color: white;
    font-family: "Cormorant Garamond", serif;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
p{
    font-size: 22px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    background-color: rgb(66, 66, 66);
    justify-content: space-between;
    padding: 20px 50px;
    box-sizing: border-box;
    align-items: center;
    z-index: 9999;
}
body{
    background-color: black;
    height: 200vh;
    padding-top: 70px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 40px;
    transition: .5s;
}
nav a:hover{
    font-weight: bold;
}
.aboutme{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.aboutme .img-container{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutme .info-container{
    width: 65%;
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 130px;
    box-sizing: border-box;
}
.info-container h1{
    margin-top: 15px;
}
.info-container h2{
    margin-top: 20px;
}
.img-container img{
    width: 100%;
    border-radius: 50%;
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.info-container .logo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.info-container .logo-container img{
    height: 181px;
    width: 181px;
    object-fit: cover;
    margin-top: 20px;
    transition: 1s;
    filter: drop-shadow(-9px 5px 8px rgba(0,0,0,0.5));
}
.info-container .logo-container img:hover{
    transform: scale(1.2);
}
.projects{
    padding-top: 70px;
    margin-top: 70px;
    box-sizing: border-box;
    background-color: rgb(66, 66, 66);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.projects h1{
    width: 100%;
}
.projects .card{
    box-sizing: border-box;
    background-color: black;
    width: 500px;
    height: 710px;
    border-radius: 10%;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding-top: 20px;
    line-height: 1.5;
}

.projects .card img{
    width: 100%;
}
.projects .card li{
    list-style: none;
}
.projects .card a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: .5s;
}
.projects .card a:hover{
    font-weight: bold;
}
.projects .card p{
    margin: 0 20px;
}
.contacts{
    width: 100%;
    box-sizing: border-box;
    padding: 70px 0;
}
.contacts h1{
    width: 100%;
    text-align: center;
}
.contact-container{
    width: 30%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-container a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.contact-container img{
    height: 30px;
}
.github{
    filter: invert(100%);
}
@media screen and (max-width: 768px){
    nav{
        visibility: hidden;
    }
    body{
        padding-top: 20px;
    }
    .aboutme .img-container{
        width: 100%;
    }
    .aboutme .info-container{
        width: 100%;
        padding-right: 20px;
    }
    .img-container img{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 14px;
    }
    .aboutme .info-container{
        padding-top: 10px;
    }
    .info-container .logo-container img{
        height: 70px;
        width: 70px;
        object-fit: cover;
        margin-top: 20px;
        transition: 1s;
        filter: drop-shadow(-9px 5px 8px rgba(0,0,0,0.5));
    }
    .contact-container{
        width: 70%;
    }
    .projects .card p{
        margin: 0 8px;
    }
    .projects .card{
        box-sizing: border-box;
        background-color: black;
        width: 100%;
        height: auto;
        border-radius: 10%;
        margin: 0 0 30px 0;
        padding:20px 0;
        line-height: 1.5;
    }
    .projects{
        padding-top: 20px;
    }
    .contacts{
        padding-top: 20px;
    }
    .contacts a{
        font-size: 12px;
    }
}